/Taller1OCP/nbproject/private/
/Taller1OCP/build/
/Taller2SRP/nbproject/private/
/Taller2SRP/build/
/Taller4OCP/nbproject/private/
/Taller4OCP/build/
/Taller5LSP/nbproject/private/
/Taller5LSP/build/
/Taller5ISP/nbproject/private/
/Taller6ISP/nbproject/private/
/Taller7ISP/nbproject/private/
/Taller7ISP/build/
/Taller6.2ISP/build/
/Taller6.2ISP/nbproject/private/
/Taller7_1DIP/nbproject/private/
/Taller7_1DIP/build/
/Taller6ISP/build/
/Taller7_2DIP/nbproject/private/
/Taller7_2DIP/build/
/Taller8DIP/nbproject/private/
/Taller8DIP/build/
/Taller8SRP/nbproject/private/
/Taller8OCP/nbproject/private/
/Taller8LSP/nbproject/private/
/Taller8ISP/nbproject/private/
/Taller9DRY/nbproject/private/
/Taller9DRY/build/
/Taller9KISS/nbproject/private/
/Taller9KISS/build/
/Taller9YAGNI/nbproject/private/
/Taller9YAGNI/build/
