/Taller1OCP/nbproject/private/
/Taller1OCP/build/
/Taller2SRP/nbproject/private/
/Taller2SRP/build/
/Taller4OCP/nbproject/private/
/Taller4OCP/build/
/Taller5LSP/nbproject/private/
/Taller5LSP/build/
/Taller5ISP/nbproject/private/
/Taller6ISP/nbproject/private/
/Taller7ISP/nbproject/private/
/Taller7ISP/build/
/Taller6.2ISP/build/
/Taller6.2ISP/nbproject/private/
/Taller7_1DIP/nbproject/private/
/Taller7_1DIP/build/
/Taller6ISP/build/
/Taller7_2DIP/nbproject/private/
/Taller7_2DIP/build/
/Taller8DIP/nbproject/private/
/Taller8DIP/build/
/Taller8SRP/nbproject/private/
/Taller8OCP/nbproject/private/
/Taller8LSP/nbproject/private/
/Taller8ISP/nbproject/private/
/Taller9DRY/nbproject/private/
/Taller9DRY/build/
/Taller9KISS/nbproject/private/
/Taller9KISS/build/
/Taller9YAGNI/nbproject/private/
/Taller9YAGNI/build/
/Taller10_GRASP_Experto/nbproject/private/
/Taller10_GRASP_Creador/nbproject/private/
/Taller10_GRASP_Controlador/nbproject/private/
/Taller10_GRASP_Experto/build/
/Taller10_GRASP_Controlador/build/
/Taller10_GRASP_Creador/build/
/Ejemplos/EjemploAltaCohesionBajoAcoplamiento/nbproject/private/
/Ejemplos/EjemploAltaCohesionBajoAcoplamiento/build/
/Ejemplos/EjemploFabricacionPura/nbproject/private/
/Ejemplos/EjemploFabricacionPura/build/
/Taller11_GRASP_AltaCohesion_BajoAcoplamiento/nbproject/private/
/Taller11_GRASP_AltaCohesion_BajoAcoplamiento/build/
/Taller11_GRASP_Polimorfismo/nbproject/private/
/Taller11_GRASP_Polimorfismo/build/
/Taller11_GRASP_FabricacionPura/nbproject/private/
/Taller11_GRASP_FabricacionPura/build/
/Ejemplos/EjemploIndireccion/nbproject/private/
/Ejemplos/EjemploVariacionesProtegidas/nbproject/private/
/Ejemplos/EjemploVariacionesProtegidas/build/
/Ejemplos/EjemploIndireccion/build/
/Taller12_GRASP_Indireccion/nbproject/private/
/Taller12_GRASP_Indireccion/build/
/Taller13_GRASP_VariablesProtegidas/nbproject/private/
/Taller13_GRASP_VariablesProtegidas/build/
/Ejemplos/EjemploCalidadSoftware1/nbproject/private/
/Ejemplos/EjemploCalidadSoftware1/build/
/Ejemplos/Ejemplo_FactoryMethod/nbproject/private/
/Ejemplos/Ejemplo_FactoryMethod/build/
/Ejemplos/Ejemplo2_Factory_Method/nbproject/private/
/Ejemplos/Ejemplo2_Factory_Method/build/
/Ejemplos/Ejemplo1_abstractFactory/nbproject/private/
/Ejemplos/Ejemplo1_abstractFactory/build/
/Ejemplos/Ejemplo_Patron_Builder/nbproject/private/
/Ejemplos/Ejemplo_Patron_Builder/build/
/Ejemplos/Ejemplo2_Patron_Builder/nbproject/private/
/Ejemplos/Ejemplo2_Patron_Builder/build/
/Ejemplos/Ejemplo_patron-Prototype/nbproject/private/
/Ejemplos/Ejemplo_patron-Prototype/build/
/Taller15_Factory_Method/nbproject/private/
/Taller15_Factory_Method/build/
/Taller15_Abstract_Factory/nbproject/private/
/Taller15_Abstract_Factory/build/
/Taller16_Patron_Prototype/nbproject/private/
/Taller16_Patron_Prototype/build/
/Taller16_Patron_Builder/nbproject/private/
/Taller16_Patron_Builder/build/
/Examen_Corte2/nbproject/private/
/Examen_Corte2/build/
